*.pdf
*.pt
*.bat
*.svg 
**/__pycache__/**
**/.neptune/**
**/.pytest_cache/**

tmp/
**/.ipynb_checkpoints/
.idea
.neptune
models/*

!models/.gitkeep
.bashrc*

results/*
!results/.gitkeep

data
!data/.gitkeep

.DS_Store

private/*
temp/*
Icon*